*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Resimler/background\ geyik.jpg);
    background-position: center;
    background-size: cover;
 
}
.container{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 130px;
    height: 100px;
    /* cursor: pointer; */
    position: relative;
    right: 50px; 

}
.menu{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 170px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(Resimler/tisort.jpg);
}
.card2{
    background-image: url(Resimler/hoodie.jpg);
}
.card3{
    background-image: url(Resimler/esofman.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #000;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #000;
    font-size: 8px;
}
#box {
    max-width: 300px;
    position: relative;
}
 
#box .fa-search {
    position: absolute;
    top: 14px;
    left: 12px;
    font-size: 20px;
    color:cornflowerblue;
}
 
#search {
    width: 100px;
    box-sizing: border-box;
    border: 2px solid cornflowerblue;
    border-radius: 4px;
    font-size:18px;
    padding: 12px 20px 12px 40px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
 
#search:focus {
    width: 100%;
}
header img{
    width: 1500px;
    height: 300px;
}
.snow {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	opacity: 45%;
}
.slideshow-container {
    max-width: 530px;
    position: relative;
    margin: auto;
  }
  
.mySlides {
 display: none;
}
  
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
  
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
  
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}
  
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
  
.dot {
 cursor: pointer;
 height: 15px;
 width: 15px;
 margin: 0 2px;
 background-color: #bbb;
 border-radius: 50%;
 display: inline-block;
 transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
background-color: #717171;
}
  
.fade {
animation-name: fade;
animation-duration: 1.5s;
}
  
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
article{
    float: left;
    padding: 15%;
    padding-left: 2% !important;
}
.as2{
    float: right;
    padding: 11%;
    padding-right: 2% !important;
    padding-bottom: 5%;
}
.as1{
    float: left;
    margin-top: 5%;
}
.slfoto{
    width: 530px;
}


