*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../Resimler/background\ geyik.jpg);
    padding: 10px;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
}
.container .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.container .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(95deg, #000, #2600ff);
}
form .kart-detay .kart-kutu{
    width: calc(100% / 2- 20px);
    margin-bottom: 15px;
    width: 320px;
    position: relative;
    left: 25%;
}
.kart-detay .kart-kutu .detay{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}
.kart-detay .kart-kutu input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .circal-form .circal-title{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid;
    position: relative;
    left: 45%;

}
form .circal-form .category{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 43%; 
}
form .button{
    text-align: center;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar{
    /* height: 12%; */
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
button{
    width: 130px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

    